/**Navigation**/

.navbar{
    background:#006633;
}

.navbar-default .navbar-nav > li a {
    color:#FFFFFF;
}

.navbar-default .navbar-nav > li a:hover{
    background:#FF5A36;
    color:#FFFFFF;
}

.navbar-header .navbar-brand{
    color:#FFFFFF;
}

.navbar-header .navbar-brand:hover{
    color:#FFFFFF;
}

/**Forms**/

.form-group input[type=submit]{
    background: #006633;
}

.form-group input[type=submit]:hover{
    background: #FF5A36;
}

/**Main Styles**/

.container{
    background:#660033;
    color:#FFFFFF;
}

.list-group-item{
    color:#000000;
}

.bg-success p{
    background-color:#006400;
    color:#FFFFFF;
}

.glyphicon-exclamation-sign, .glyphicon-ok, .glyphicon-hand-right{
    margin-right:2%;
    margin-left:1%;
}

.create{
    margin-bottom:3%;
}

li{
    list-style-type: none;
}

td a{
    font-weight:600;
    font-size:1.1em;
}